<!-- TODOOOOO -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <section class="wrapper-login-page">
        <div class="container">
            <div class="container-icon-login">
                <div class="wrapper-image-icon-form">
                    <img class="icon-login-undraw" src="/images/undraw_Login_re_4vu2-removebg-preview.png"
                        alt="icon login">
                </div>
                <span class="wrapper-waves"></span>
            </div>

            <div class="container-login-form">
                <div class="wrapper-icon-smawa">
                    <div class="smawa-logo">
                        <img src="/images/logo-smawa-transparant.png" alt="SMA Wahidiyah">
                    </div>
                    <h2 class="smawa-text">
                        <span>sma</span>
                        wahidiyah
                    </h2>

                </div>

                <div class="wrapper-text-login">
                    <h1>login</h1>
                </div>

                <div class="wrapper-login-form">
                    <form>
                        <div class="email-wrapper box-form">
                            <label for="email">email</label>
                            <input type="email" name="email" id="email" placeholder="youremail@gmail.com">
                        </div>

                        <div class="password-wrapper box-form">
                            <label for="password">password</label>
                            <input type="password" name="password" id="password" placeholder="*****">

                            <div class="forgot-password-wrapper">
                                <a href="#">forgot password ?</a>
                            </div>
                        </div>

                        <div class="wrapper-button-submit">
                            <button type="submit">login</button>
                        </div>
                    </form>

                    <div class="handle-switch-register-form">
                        <h5>Dont have account ? <a href="#">sign up</a></h5>
                    </div>
                </div>

                <div class="wrapper-login-another-account">
                    <div class="wrapper-or-element">
                        <span class="underline-or-letter"></span>
                        <p>or</p>
                        <span class="underline-or-letter"></span>
                    </div>

                    <div class="wrapper-another-account">
                        <div class="round-box">
                            <img src="/svg/Instagram-Logo.wine.svg" alt="instagram">
                        </div>
                        <div class="round-box">
                            <img src="/svg/Facebook-f_Logo-Blue-Logo.wine.svg" alt="facebook">
                        </div>
                        <div class="round-box">
                            <img src="/svg/WhatsApp-logo.wine.svg" alt="instagram">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript">
        const inputEmail = document.getElementById('email');

        document.addEventListener('DOMContentLoaded', () => {
            console.log('content loaded!');
            inputEmail.focus();
        });
    </script>
</body>

</html>