<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>

<body>
    <div class="container">
        <h2>hello world!</h2>
        <% for(let i=0; i < 5; i++) { %>
            <strong>
                hello world
            </strong>
            <% } %>

                <%- include('../../components/fragments/footer/index.ejs') -%>
    </div>
</body>

</html>